<div xmlns:hive="http://typo3.org/ns/HIVE/HiveCptCntImg/ViewHelpers">
<f:layout name="Default" />
<f:section name="main">

    <f:for each="{aHtml}" as="aAnnoyingPopup">
        <div class="modal" id="hive-cpt-cnt-annoying-popup__popup--{aAnnoyingPopup.0.uid}">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{aAnnoyingPopup.0.title}</h5>
                        <button type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close"
                                onClick="{f:render(section: 'onClick', arguments: {aAnnoyingPopup: aAnnoyingPopup})}">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <f:if condition="{aAnnoyingPopup.0.image}">
                            <f:then>
                                <hive:cptCntImg uid="{aAnnoyingPopup.0.image.uid}"/>
                            </f:then>
                        </f:if>
                        <f:format.html>{aAnnoyingPopup.0.text}</f:format.html>
                    </div>
                    <div class="modal-footer">
                        {f:render(section: 'a', arguments: {aAnnoyingPopup: aAnnoyingPopup})}
                        <button type="button"
                                class="btn btn-danger"
                                data-dismiss="modal"
                                aria-label="{f:translate(key: 'LLL:EXT:hive_cpt_cnt_annoying_popup/Resources/Private/Language/translation.xlf:tx_hivecptcntannoyingpopup_domain_model_annoyingpopup.render.close')}"
                                onClick="{f:render(section: 'onClick', arguments: {aAnnoyingPopup: aAnnoyingPopup})}">
                            <f:translate key="LLL:EXT:hive_cpt_cnt_annoying_popup/Resources/Private/Language/translation.xlf:tx_hivecptcntannoyingpopup_domain_model_annoyingpopup.render.close" />
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </f:for>

</f:section>

<f:section name="onClick">
    <f:if condition="{aAnnoyingPopup.1} != '0'">
        <f:then>
document.cookie='hive-cpt-cnt-annoying-popup--{aAnnoyingPopup.0.uid}=0;path=/;expires={aAnnoyingPopup.1}';</f:then>
        <f:else>
document.cookie='hive-cpt-cnt-annoying-popup--{aAnnoyingPopup.0.uid}=0;path=/';</f:else>
    </f:if>
</f:section>

<f:section name="a">
    <f:if condition="{aAnnoyingPopup.0.link} != ''">
        <f:then>
            <f:if condition="{aAnnoyingPopup.0.linkLabel} != ''">
                <f:then>
                    <a class="btn btn-primary" href="{f:uri.typolink(parameter: aAnnoyingPopup.0.link)}" target="_blank">{aAnnoyingPopup.0.linkLabel}</a>
                </f:then>
            </f:if>
        </f:then>

    </f:if>
</f:section>